<app-header></app-header>
<div class="main-content">
  <div class="header-content">
    <div class="emp-detail-text">
      Employee Details <div class="emp-count">{{employeeCount}}</div>
    </div>
    <a class="add-button" routerLink="/add">
      <img src="../assets/icons/add-24px.svg" alt="">Add User</a>
  </div> <!-- header-content-->
  <div class="table-main">
    <table id ="table-display" class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Start Date</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>
                <img class="profile" src="../assets/profile-images/Ellipse -2.png" alt="">
            </td>
            <td>satya</td>
            <td>Male</td>
            <td>
                Sales
            </td>
            <td>45678</td>
            <td>22/09/2023</td>
            <td>
                <img  src="../assets/icons/delete-black-18dp.svg" alt="delete" >
                &nbsp;
                <img  src="../assets/icons/create-black-18dp.svg" alt="edit" > 
            </td>
        </tr>
    </table>  
</div>
</div>
